.header {
	padding-bottom: 2rem;

	.headline {
		color: $gray-600;
		font-size: 14px;
		letter-spacing: 2px;
	}
}

@include media-breakpoint-up(lg) { 
	.header {
		padding-bottom: 5rem;

		.headshot {
			width: 300px;
			height: auto;
		}
	}
 }